.userPhoto{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.selectedPage {
    font-weight: bold;
}

.pagination{
    cursor: pointer;
    padding: 3px;
}

.pagination>span{
    padding: 5px;
}