.nav a.activeLink {
    color: gold !important;
}

a {
    position: relative;
    display: inline-block;
    overflow: hidden;
    font-size: 25px;
    background: linear-gradient(to right, red, #030727 50%, white 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
}

a:hover {
    background-position: 0 100%;
}



.nav {
    grid-area: n;
    background-color: #222d28;
    height: 100%;
    text-align: center;
    font-size: 24px;
}

.nav div a div {
    margin: 10px;
    border-radius: 50px;
    padding: 5px;
}

.nav div a div:hover {
    box-shadow: 0 2px 2px rgba(0, 0, 0, .1),
    0 4px 4px rgba(0, 0, 0, .1),
    0 8px 8px rgba(0, 0, 0, .1),
    0 16px 16px rgba(0, 0, 0, .1);
}


.nav a {
    color: white;
}

.friendsContent {
    display: flex;
    flex-wrap: wrap;
}

.FriendTitle {
    font-size: 35px;
    color: white;
    margin-top: 75px;
}

